html{
	scroll-behavior: smooth;
}

.card{
	margin-left: 15px;
}
.card:hover{
	border-left: solid 2px red;
	transition: 0.5s;

}
nav a{
	color:white;
}
nav a:hover
{
	transition: 0.3s;
	background:#5189f2;
	color:white;
}
nav img{
	
}
.card p{
	text-align:left;
}
.presentacio{
	margin-top: 15px;
}
.datos-personales{

}
.datos-personales p{
	color:#3773e3;
}
.proyectos .card-body img{
	border-radius: 100px;
}
blockquote p{
	margin-bottom: 5px;

}
footer{
margin: 0px;	
padding: 0px;
position: absolute;
width: 100%;
}
footer p {
  text-align: center;
}
footer ul{
	display: flex;
	text-align: center;
	justify-content:center;
	 
	 text-decoration: none;
}
footer ul li{
	list-style: none;
	text-decoration: none;
    padding: 10px;

}
footer a:hover{
	transition: 0.4s;
	font-size: 30px;
}
.focus{

	transition: 0.3s;
	background: #5189f2;
	border-left: solid 3px red;

}